.btn-small {
  text-align: center; 
  display: inline-block;
  padding: 6px 6px;
}

.btn-custom {
background-color: #731514; 
Color: #fff;
margin:5px
}

.btn-custom:hover {
Color: #fff;
}

.margin-y {
margin-top: 3px;
margin-bottom: 10px;
}

.periodo_form {
  display: table-cell;
  vertical-align: middle;
}

.label-no-padding{
  padding: 0p;
}

.btn:hover{
  Color: #fff;
}

.alineacion_derecha {
  text-align: right;
}

.devengo {
  background: #8BB9CD !important;
}

.descuento {
  background: #FFB2B2 !important;
}

.seguridad_social {
  background: #A9F5D0 !important;
}

.panel-body{
  padding: 5px;
}

.btn-delete-ae{
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}