.btn-small {
    text-align: center; 
    display: inline-block;
    padding: 6px 6px;
  }

  .fa-events-icons-ready{
    position: fixed;
    width:100% ;
  }

  body {
    background-color: fixed;
  }

  .badge1{
    position: relative;
    top: -45px;
    right: -22px;
    font-size: 1em;
    background: #8E2825;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
  }
  .notification{
    width: 50px;
    height: 50px;
  }
  
  
  .container-menu {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      z-index: 2;
  }
  
  .card {
      box-shadow: 0px 8px 6px #888888;
      background: #F6F6F6;
      flex-shrink: 0;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
  }
  
  .card-text-container {
      display: flex;
      width: 554px;
      align-items: center;
  }
  
  .button-container {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
  }
  
  .button-header {
      margin-right: 10px;
      font-size: 22px;
      font-family: 'Lucida Sans';
      color: white;
      border-radius: 5px;
      background-color: #3D4855;
      border-color: #2B3643;
      padding: 8px 15px;
  }
  
  .card-text-app-container {
      width: 100%;
      margin-top: 10px;
      margin-left: 10px;
  }
  
  .card-imageContainer {
      object-fit: cover;
      margin: 0;
      width: 200px;
  }
  
  .card-title {
      font-size: 27px;
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 10px;
      color: white;
      font-family: OpenSans;
  }
  
  .card-image {
      width: 250px;
  }
  
  #card-title {
      background-color: #2B3643;
      height: 76px;
  }
  
  @media screen and (max-width: 1023px) {
      .card-app {
          width: 15%;
      }
      .card-image {
          width: 200px;
      }
  }
  
  @media screen and (max-width: 855px) {
      .card-title {
          font-size: 20px;
          margin: 0;
      }
      .button-container {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 8px;
      }
      .button-header {
          font-size: 20px;
      }
      .card-text-container{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media screen and (max-width: 425px) {
      .card-image {
          width: 120px;
      }
      .button-header {
          font-size: 16px;
      }
      .card-title {
          font-size: 15px;
      }
      .card-imageContainer {
          object-fit: cover;
          margin: 0;
          width: 121px;
      }
  }