#inicio {
  color: black;
  background: white;
  font-family: opensans;
}
.container-body {
  display: flex;
  width: 100%;
  z-index: 2;
  flex-wrap: wrap;
}

.container-body-off {
  display: flex;
  width: 83%;
  z-index: 2;
  flex-wrap: wrap;
}

.container-app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.container-view {
  width: 100%;
  height: 74%;
}

.main-container-sidebar{
  width: 16.8%;
	z-index: 3;
	margin-bottom: 140px;
}

.main-container-sidebar-off {
  width: 0%;
}

.sidebar_off {
  display: none;
}

.content-menu {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 10px;
  border-top: 1px solid #fff;
}

.opcion-down::before {
  position: absolute;
  left: 15.7vw;
  font-family: "FontAwesome";
  content: "\f107";
}

.opcion-left::before {
  position: absolute;
  left: 15.7vw;
  font-family: "FontAwesome";
  content: "\f104";
}


.content-menu > div {
  border-color: "#fff";
  display: flex;
  flex-direction: column;
}

.content-options > div {
  font-size: 1.7rem;
  border-color: "#fff";
  display: flex;
  flex-direction: column;
}


.content-menu > div:focus {
  outline: 0;
  /* background-color: #fff;
  color: #000; */
}

.content-menu > div:hover {
  outline: 0;
  /* background-color: #fff;
  color: #000; */
}

.content-menu-off {
  display: none;
}
