#inicio {
  color: black;
  background: white;
  font-family: opensans;
}
.container-body {
  display: flex;
  width: 96%;
  z-index: 2;
  flex-wrap: wrap;
}

.container-body-off {
  display: flex;
  width: 83%;
  z-index: 2;
  flex-wrap: wrap;
}

.container-app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.container-view {
  width: 100%;
  height: 74%;
}

.main-container-sidebar{
  width: 16.8%;
	z-index: 3;
  background-color: var(--primary);
}

.main-container-sidebar-off {
  width: 44px;
  background-color: var(--primary);
}

.sidebar_off {
  display: block;
}

.menulateral-icon-container{
  width: 25px;
}

.menulateral-text{
  width: 221px;
  font-size: 16px;
  text-align: left;
}

.menulateral-text.oculto{
  display: none;
}

.menulateral-icon {
  font-size: 25px;
  width: 24px;
  color: white;
}

.content-menu {
  background-color: var(--primary);
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 15px 10px 10px;
  border-top: 1px solid #fff;
}

.opcion-down::before {
  position: absolute;
  left: 15.7vw;
  font-family: "FontAwesome";
  content: "\f107";
}

.opcion-left::before {
  position: absolute;
  left: 15.7vw;
  font-family: "FontAwesome";
  content: "\f104";
}

.opcion-up::before {
  position: absolute;
  left: 15.7vw;
  font-family: "FontAwesome";
  content: "\f106";
}

.content-menu > div {
  border-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-options > div {
  font-size: 1.7rem;
  border-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.content-menu > div:focus {
  outline: 0;
  /* background-color: #fff;
  color: #000; */
}

.content-menu > div:hover {
  outline: 0;
  /* background-color: #fff;
  color: #000; */
}

.content-menu-off {
  display: none;
}
