#inicio{
    color: black;
    background: white;
    font-family: opensans;
}
.container-body{
	display: flex;
	width: 100%;
	z-index: 2;
	flex-wrap: wrap;
}

.container-body-off{
	display: flex;
	width: 85%;
	z-index: 2;
	flex-wrap: wrap;
}

.container-app{
	display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
}

.container-view{
    width: 100%;
    height: 74%;
}

.main-container-sidebar{
    width: 15%;
    z-index: 3;
}

.main-container-sidebar-off{
	width: 0%;
}

.sidebar_off{
    display:none;
}

#column_left {
	background-color: #515151;
}
.sidebar_is_active{
	width:100%;
	height: 100%;
    display:block;
    background-color: #2B3643;
}
.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #515151 !important;
	color: #9d9d9d;
}

.nav-list > li > a {
	color: #C4C4C4;
	font-size: 14px;
	padding-left: 13px !important;
	border-bottom: 1px solid #585858;
}

.nav-list > li > a:hover {
	background-color: #444444;
}

.nav-list li ul li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #515151 !important;
	color: #9d9d9d;
}

.nav-list > li > ul > li > a {
	color: #C4C4C4;
	font-size: 14px;
	padding-left: 13px !important;
	border-bottom: 1px solid #585858;
}

.nav-list > li > ul > li > a:hover {
	background-color: #444444;
}