:root {
  --primary: rgb(142, 40, 37);
}

#loading-bar .bar {
  background-color: var(--primary);
}

div.sticky {
  position: sticky;
  bottom: 0;
  right: 1;
}

md-sidenav {
  padding-left: 5px;
  padding-bottom: 80px;
  padding-top: 80px;
  width: 400px;
}

md-divider {
  border-width: 1px;
  border-style: solid;
}

.my-icon-button {
  padding: 10px !important;
  min-width: 0;
  min-height: 0;
  line-height: normal;
}

/* UI-GRID*/

.logo {
  height: 55px;
}

.loading {
  margin: 8%;
  text-align: center;
}
/* TABLE UI-GRID*/

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
  background-color: var(--primary);
}

.ui-grid-header-cell {
  background-color: var(--primary);
  color: #fff;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

#mi-grid {
  min-height: 50px !important;
  width: auto !important;
}

/*clases para definir el tamaÃƒÂ±o (alto) de la fila en el grid segÃƒÂºn la cantidad de texto y el ancho de la columna*/
.mi-grid .ui-grid-row,
.mi-grid .ui-grid-cell {
  height: auto !important;
}

.mi-grid .ui-grid-cell {
  float: none;
  display: table-cell;
}
/*clases para acomodar el grid al numero de filas contemplando sus tamaÃƒÂ±os.*/

.mi-grid .ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
  overflow: visible;
}

.mi-grid .ui-grid-cell {
  display: table-cell;
  height: auto !important;
  overflow: visible;
  position: static;
}

.mi-grid .ui-grid-row {
  height: auto;
  display: table-row;
  position: static;
}

.mi-grid .ui-grid-row div[role="row"] {
  display: flex;
  align-content: stretch;
}
.mi-grid .ui-grid,
.mi-grid .ui-grid-viewport,
.mi-grid .ui-grid-render-container-body,
.mi-grid .ui-grid-canvas {
  height: auto !important;
}
/*clases para posicionar el paginador debajo del grid */

.mi-grid .ui-grid-pager-panel {
  margin-bottom: -30px !important;
}

.mi-grid .ui-grid-pager-container {
  float: none !important;
  height: auto !important;
}

/*BUTTONS OPTIONS*/

.borrar:hover {
  color: #db0a5b;
}

.editar:hover {
  color: #f39c12;
}

.configuracion:hover {
  color: #9a12b3;
}

.ver:hover {
  color: #00b16a;
}

.page-header {
  padding-bottom: 0px;
  margin: 20px;
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
}

/*da color azulado al margen inferior de donde se utilice la etiqueta*/
legend {
  border-bottom: 1px solid var(--primary) !important;
  padding: 5px;
}

/* hace un resaltado azulado al pasar el mause sobre lo que contenga*/
legend:hover {
  background-color: var(--primary);
  color: #fff;
  padding: 5px;
}

/*quita la negrilla al texto*/
.unbold {
  font-weight: normal;
}

/*se define un badge general para listado de items, mensages, errores, etc*/
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

/*tipos de badge orientados a bootstrap */
.badge-error {
  background-color: #b94a48;
}

.badge-error:hover {
  background-color: #953b39;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning:hover {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success:hover {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info:hover {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse:hover {
  background-color: #1a1a1a;
}

/* NOTIFICATION*/

.notificacion_vista {
  color: #e74c3c;
}

/* input right*/

.input_right {
  text-align: right;
}

.input_center {
  text-align: center;
}

/*Clases generales para pintar imputs que utilizan ng-model e indicar el error*/
.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

.paddingtop-bottom {
  margin-top: 50px;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

.icon {
  float: left;
  margin-right: 5px;
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}

.copyright p {
  text-align: left;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 0px;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

.post p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}

.post p span {
  display: block;
  color: #8f8f8f;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: #fff;
  font-size: 12px;
}

/*end style footer*/

.dropdown-submenu {
  position: relative;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all 0.5s;
}

.btn-primary.btn-outline {
  color: var(--primary);
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #fff;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: rgba(0, 62, 101, 1);
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: rgba(0, 62, 101, 1) !important;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

.codigo-panel {
  margin-left: 10px;
  margin-right: 10px;
}

.panel-default > .panel-heading {
  color: white;
  background-color: rgba(0, 62, 101, 1);
  border-color: #ddd;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

@media screen and (max-width: 699px) and (min-width: 456px) {
  md-sidenav {
    width: 100px;
  }
}

@media screen and (max-width: 556px) {
  md-sidenav {
    width: 70px;
  }
  .img-responsive {
    width: 70px;
  }
}
