<div class="container-menu">
    <article class="card" id="card-title">
        <div class="card-text-container">
            <a href="" class="navbar-brand" ng-click="sidebarEvent()">
                <i class="fa fa-university faa-shake animated-hover" aria-hidden="true"></i>
            </a>
        </div>
        <div class="button-container">
            <div class="button-div">
                <button class="button-header notification" (click)="toggleNotifications()">
                    <i class="fa fa-bell-o"></i>
                    <div class="badge1" *ngIf="noNotify">
                        {{ noNotify }}
                    </div>
                </button>
            </div>
        </div>
    </article>
</div>