<div class="header-container">
        <div class="header-logo-container" ng-click="sidebarEvent()">
            <div id="{{app}}" class="header-logo"></div> 
            <div id="{{app_large}}" class="menu-app-info"> </div>
        </div>
        <div class="header-buttons-container">
                <div class="header-button-apps-container" ng-click="toogleAplicaciones()" >
                        <i id="header-user-icon" class="fa fa-bars" ng-style="{'color': paleta[tema].color}"></i>
                </div>
                <div class="header-button-notification" (click)="toggleNotifications()">
                    <i class="fa fa-bell-o" ng-style="{'color': paleta[tema].color}"></i>
                    <div class="header-badge" *ngIf="noNotify" ng-style="{'background': paleta[tema].color}">
                        {{ noNotify }}
                    </div>
                </div>
                <div class="header-button-user-container" ng-click="toogleCerrarSesion()" ng-show="token_service.live_token()" >
                    <i id="header-user-icon" class="fa fa-user-o" ng-style="{'color': paleta[tema].color}"></i>
                    <p ng-style="{'color': paleta[tema].color}">{{token.sub}}</p>  
                    <i class="fa fa-chevron-down" ng-style="{'color': paleta[tema].color}"></i>
                    <div id="header-button-cerrarsesion-container" ng-click='logout()'>
                        <p>cerrar sesion</p>
                    </div>
                </div>
        </div>
</div>

<link rel="stylesheet" href="./header.css">