<div class="container-menu">
    <article class="card" id="card-title">
        <div class="card-text-container " ng-click="sidebarEvent()">
            <div id="argo" class="menu-app"></div> 
            <div id="argo-info" class="menu-app-info"> </div>
        </div>
        <div class="button-container">
            <div class="button-div">
                <button class="button-header notification" (click)="toggleNotifications()">
                    <i class="fa fa-bell-o"></i>
                    <div class="badge1" *ngIf="noNotify">
                        {{ noNotify }}
                    </div>
                </button>
            </div>
        </div>
    </article>
</div>

<link rel="stylesheet" href="./header.css">