<div ng-class="father" ng-style="{'background-color': paleta[tema].color}">
    <div ng-repeat="nivel in data" ng-if="nivel.Opciones === null && nivel.TipoOpcion === 'Menú'"
        ng-click="redirect_url(nivel.Url)">{{nivel.Nombre}}
    </div>
    <div class="content-options">
        <div ng-repeat="nivel in data" ng-if="nivel.Opciones !== null && nivel.TipoOpcion === 'Menú'"
            ng-click="toogle(nivel, $event)" ng-class="nivel.style_icon?nivel.style_icon:'opcion-left'">{{nivel.Nombre}}
            <opciones data="nivel.Opciones" father="nivel.clase?nivel.clase:'content-menu-off'" ng-click="toogle(nivel)"></opciones>
        </opciones>
        </div>
    </div>
</div>


<!-- <div ng-class="father" ng-style="{'background-color': paleta[tema].color}">
    <div ng-repeat="nivel in data" ng-if="nivel.Opciones === null && nivel.TipoOpcion === 'Menú'"
        ng-click="redirect_url(nivel.Url)">{{nivel.Nombre}}
    </div>
    <div ng-repeat="nivel in data" ng-if="nivel.Opciones !== null && nivel.TipoOpcion === 'Menú'" ng-click="toogle(nivel)" 
    ng-class="nivel.style_icon?nivel.style_icon:'opcion-left'">{{nivel.Nombre}}
        <opciones data="nivel.Opciones" father="nivel.clase?nivel.clase:'content-menu-off'" ng-click="toogle(nivel)"></opciones>
    </div>
</div> -->