<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel panel-primary panel-body">
      <h2 class="page-header text-center">
        {{'HISTORICO_CUMPLIDOS'|translate}}
      </h2>
    </div>
  </div class="panel-body">
<form role="form"> 
    <div class="row" col-lg-6>
<div class="form-group">
    <label class="col-lg-12">Año </label>
    <input type="text" class="form-control" ng-model="aprobacionOrdenador.ordenador.nombre" disabled>
</div>

    </div>

</form>
</div>
  </div>
</div>
