<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <h4 class="page-header ">{{'TITULO_INFORME_G_Y_CERTIFICADO_C' | translate}}</h4>

    <div class="panel-body">
      <div class="row">
        <div class="panel panel-default col-lg-12 col-lg-offset-1">
          <div class="panel-body">
            <div class="row" align-item="center">
              <!--Inicio row-->
              <h1 class="page-header text-center " style="color: black;">Informe de gestion y certificado de
                cumplimiento CPS {{InformeGyCertificadoC.contrato}} de {{InformeGyCertificadoC.mes}} de
                {{InformeGyCertificadoC.anio}}</h1>
            </div>
            <!--Fin row-->

            <div class="row">
              <!--Inicio row-->
              <div class="panel panel-default">
                <h3 class="page-header" style="color: black;">Objeto contratual </h3>
                <div class="panel panel-body">
                  <p>{{InformeGyCertificadoC.informacion_informe.Objeto}}</p>
                </div>
              </div>

            </div>
            <!--Fin row-->
            <div class="row">
              <!--Inicio row-->
              <div class="panel panel-default">
                <div class="panel panel-body">
                  <div class="row">
                    <button type="button" class="btn pull-left btn-custom " data-toggle="modal"
                      data-target="#modal_preliquidacion">Preliquidacion</button>
                    <button type="button" class="btn pull-right btn-custom" data-toggle="modal"
                      data-target="#modal_visualizar_documento"
                      ng-click="InformeGyCertificadoC.formato_generacion_pdf()">Crear</button>
                    <button type="button" class="btn pull-right btn-custom"
                      ng-click="InformeGyCertificadoC.guardar()">Guardar</button>
                    <button type="button" class="btn pull-right btn-custom"
                      ng-click="InformeGyCertificadoC.agregarMeta()">Añadir Meta</button>
                  </div>
                  <div class="row">
                    <form class="form-group">
                      <div class="col-lg-7">
                        <label for="">Proceso:</label>
                        <select class="form-control" ng-model="InformeGyCertificadoC.Informe.proceso"
                          ng-options="proceso for proceso in InformeGyCertificadoC.procesos">

                        </select>
                      </div>
                      <div class="col-lg-5">
                        <label for="">Periodo de actividades:</label>
                        <form action="" class="form-inline">
                          <div class="row form-group">
                            <div class="form-group col-md-6">
                              <label for="">Desde</label>
                              <input type="date" class="form-control" name="" id="">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="">Hasta</label>
                              <input type="date" class="form-control" name="" id="">
                            </div>
                          </div>
                        </form>
                      </div>
                    </form>
                  </div>
                </div>


                <div class="panel panel-default" ng-repeat="meta in InformeGyCertificadoC.Informe.Metas"
                  ng-init="index_meta=$index">
                  <div class="row" ng-if="$index>0">
                    <button type="button" class="btn pull-right btn-custom"
                      ng-click="InformeGyCertificadoC.eliminarMeta($index)">Eliminar Meta</button>
                  </div>
                  <div class="row">

                    <div class="panel panel-default col-lg-12 col-lg-offset-1">

                      <label>Meta:</label>
                      <select class="form-control" ng-model="meta.Meta"
                        ng-options="meta for meta in InformeGyCertificadoC.metas|excludeUsed:InformeGyCertificadoC.Informe.Metas:index_meta">
                        <!-- <option value=""
                          ng-repeat="meta in InformeGyCertificadoC.metas_disponibles| filter:{activo:true}"
                          ng-value="meta.meta">{{meta.meta}} </option> -->
                      </select>
                      <label>Avance:</label>
                      <input type="number" name="" id="" max="100" min="0" ng-model="meta.Nivel_de_avance">
                      <button type="button" class="btn pull-right btn-custom"
                        ng-click="InformeGyCertificadoC.agregarActividad($index)">Añadir Actividad</button>

                      <div class="panel panel-body">
                        <div ng-repeat="actividad in meta.Actividades">
                          <div class="row">
                            <form>
                              <label>Actividad:</label>
                              <input type="text" name="" id="" value="{{actividad.Actividad}}"
                                ng-model="actividad.Actividad">
                              <label>Indicador de cumplimiento:</label>
                              <input type="text" name="" id="" value="{{actividad.Indicador_de_cumplimiento}}"
                                ng-model="actividad.Indicador_de_cumplimiento">
                              <label>Soporte:</label>
                              <input type="text" name="" id="" value="{{actividad.Observaciones}}"
                                ng-model="actividad.Observaciones">
                              <button type="button" class="btn pull-right btn-sm btn-custom "
                                ng-click="InformeGyCertificadoC.eliminarActividad(index_meta,$index)"
                                ng-if="$index>0">-</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="mi-grid" style="height: {{gridHeight}}px;" ui-grid="cargaDocumentosContratista.gridOptions1" align='center' ui-grid-auto-resize></div> -->
              </div>
            </div>
            <!--Fin row-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal Visualizar Documento-->
<div id="modal_visualizar_documento" class="modal fade" role="dialog" tabindex="-">
  <div class="modal-dialog modal-lg">
    <div class="modal-content col-md-6 col-md-offset-3" style="margin-top: 5%">

      <div class="modal-header">
        <h2>Informe de gestion y certificado de cumplimiento</h2>
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
        <br>
      </div>

      <div class="modal-body">
        <div class="panel panel-default">

          <!-- Revisar el pdf pdf viewer -->
          <!--<pdf-viewer url="informe_terminacion.pdf" scale="1" show-toolbar="true" headers="{ 'x-you-know-whats-awesome': 'EVERYTHING' }">
          </pdf-viewer>
            -->
          <p>aqui deberia ir la previsualizacion del pdf</p>
          <div class="wrapper">
            <object width="100%" height="100%" data="InformeGyCertificadoC.pdf_dataUrl" type="application/pdf"
              class="internal">
              <embed src="InformeGyCertificadoC.pdf_dataUrl" type="application/pdf" />
            </object>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal preliquidacion -->
<div id="modal_preliquidacion" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content col-md-6 col-md-offset-3" style="margin-top: 5%">

      <div class="modal-header">
        <h2>Preliquidacion</h2>
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
        <br>
      </div>

      <div class="modal-body">
        <div class="panel panel-default">

          <p>preliquidacion</p>
        </div>
      </div>
    </div>
  </div>
</div>